body {
  counter-reset: number;
}
h1 {
  color: blue;
  counter-reset: number2;
}
h1::before {
  counter-increment: number;
  content: counter(number) " ";
}
h3 {
  color: green;
}
h3::before {
  counter-increment: number2;
  content: counter(number) "." counter(number2) " ";
}
